:root {
  --black: #000000;
  --almost-black: #263238;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #1E88E5;
  --primary-dark: #1976D2;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
}

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
  background: #cccccc;
  padding: 0;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack flex items vertically */
  height: 100%; /* Full height of the viewport */
}

.center {
  text-align: center;
}

h1 {
  margin: 0.5em 0 1em;
  font-size: 45px;
  line-height: 1.2;
  color: white;
}

h2 {
  margin: 0.5em 0 1em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--grey-dark);
}

p {
  margin: 24px 0;
}

/* Cards */
.card-wrapper {
  margin: 0 auto;
  padding: 90px 30px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.card {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 460px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--white);
}

@media only screen and (max-width: 520px) {
  .card-wrapper {
    padding: 30px 0 0;
  }
}

@media only screen and (max-width: 520px) {
  .card {
    margin: 0 0 30px;
    width: 100%;
    border-radius: 0;
  }
}

/* Forms */
form {
  transition: opacity .15s ease;
}

form.loading {
  pointer-events: none;
  opacity: 0.75;
}

label {
  margin: 0 0 2px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--grey-medium);
  display: block;
}

.field {
  margin: 0 0 24px;
  padding: 11px 16px 9px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: var(--almost-black);
  border: 1px solid var(--grey);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  display: block;
  background: var(--almost-white);
  transition: border-color .15s ease;
}

.field:focus {
  border-color: var(--grey-medium);
  outline: none;
}

.error {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--red);
}

.error--hidden {
  display: none;
}

/* Buttons */
.btn {
  margin: 0 0 24px;
  padding: 11px 30px 10px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: var(--primary);
  transition: color .15s ease, background-color .15s ease;
}

.btn:hover {
  background: var(--primary-dark);
}

.btn--secondary {
  color: var(--almost-black);
  background: var(--secondary);
}

.btn--secondary:hover {
  background: var(--secondary-dark);
}

input[type=submit] {
  margin: 34px auto 24px;
  display: block;
}

.link-options {
  text-align: center;
  margin-top: 15px; /* Adjust the space between the login button and the links */
}

.link {
  color: #007bff; /* Use your theme's hyperlink color */
  text-decoration: none; /* Optionally remove the underline */
  margin: 0 5px; /* Adjust spacing around the links */
}

/* Jade compare pdf 3/6/2024 */
#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-input {
  margin-bottom: 20px;
}

input[type="submit"] {
  margin-top: 10px;
}
/* end */

.link:hover {
  text-decoration: underline; /* Adds underline on hover for better user experience */
}

/* Header and Footer */
/* styles.css */
/* Header and Footer */
/* styles.css */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.header-image {
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  z-index: 1;
}

.header-image img {
  width: 100%;   /* Makes the image responsive */
  max-height: 500px;
  height: 50%;  /* Maintains the aspect ratio */
  display: block; /* Removes any default inline spacing */

}


.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Title color */
  text-align: center; /* Center the title */
  z-index: 2; /* Make sure the title is above the image */
}

.header-title {
  font-size: 24px;
  margin: 0;
}
/* Style for the navigation bar as a whole */
.navbar {
  text-align: center;
  background: #333; /* Color of the navbar */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  position: relative; /* Add relative positioning */
  z-index: 1; /* Ensure navbar stays above other content */
}

/* Style for the ul element containing the tabs, set to flex container */
.nav-tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox layout */
  justify-content: space-around; /* Distribute space around the tabs */
  background: #444; /* Background color for the entire tab bar */
  width: 100%; /* Ensure the navbar takes full width */
}

/* Style for each tab, flex item */
.nav-tabs .tab {
  flex-grow: 1; /* Each tab will grow to take up equal space */
  text-align: center; /* Center the text inside each tab */
  border-right: 1px solid #555; /* Add right border to each tab */
}

/* Remove right border for the last tab */
.nav-tabs .tab:last-child {
  border-right: none;
}

/* Style for the anchor tags within each tab */
.nav-tabs .tab a {
  display: block;
  padding: 10px 20px; /* Tab padding */
  background: transparent; /* Tab background color - transparent to allow the nav-tabs background to show */
  color: white; /* Tab text color */
  text-decoration: none; /* Remove underline from links */
  border-bottom: none; /* Remove bottom border */
}

/* Style for hover, active, and focus states */
.nav-tabs .tab a:hover,
.nav-tabs .tab a:active,
.nav-tabs .tab a:focus {
  background: #555; /* Background color for hover/active state */
  color: #ddd; /* Text color for hover/active state */
}

.services-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  z-index: 2; /* Set a high z-index */
}

.services-dropdown li {
  padding: 5px 0;
}

.services-dropdown li a {
  color: white;
}

.services-dropdown.show {
  display: block;
}

.google-signin-button {
  margin-top: 20px;
}

.btn-google {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #555;
  text-decoration: none;
  font-size: 16px;
}

.btn-google img {
  vertical-align: middle;
  margin-right: 10px;
}

main {
  flex: 1; /* This will make the main content expand to fill available space */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%; /* Full width */
}

.container {
    display: flex; /* Use flexbox to center children */
    justify-content: center; /* Center flex children on the main axis */
    align-items: center; /* Center flex children on the cross axis */
    height: 100vh; /* Full height of the viewport */
}

.card {
    width: 80%; /* Set the width of the card to 80% of its parent */
    margin: auto; /* Center the card with automatic margins */
    max-width: 500px; /* Optional: set a max-width for larger screens */
}

/* Ensure .row and .col-md-12 take full width of .container */
.row, .col-md-12 {
    width: 100%;
}
