{% extends "base.html" %}

{% block content %}

{% include 'components/tabs.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Chat Now</h4>        
                </div>
                <div class="card-body">
                    <p>Chat with our chatbot to get instant answers to your questions.</p>
                    <a href="http://127.0.0.1:8080/" class="btn btn-primary">Chat Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}