{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

    <div class="card">

        <h2 class="center">Forgot Password</h2>

        <form name="forgetpassword_form">

            <label for="email">Email</label>
            <input type="email" name="email" class="field" required>

            <p class="error error--hidden"></p>
            <input type="submit" value="Verify Email" class="btn">

            <div class="link-options">
                <a href="/" class="link">Back to Login</a> |
                <a href="/gosignup" class="link">Sign Up</a>
            </div>

        </form>

    </div>

</div>
{% endblock %}
