{% extends "base.html" %}

{% block content %}

{% include 'components/tabs.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Welcome!</h4>        
                </div>
                <div class="card-body">
                    <p class="text-center">Welcome to the world of learning</p>
                    <p class="text-center">We are here to help you learn and grow</p>
                    <p class="text-center">Start now and get access to a world of knowledge</p>
                    <div class="text-center">
                        <a href="/gologin/" class="link">Start now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}