{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

    <div class="card">

        <h2 class="center">Reset Password</h2>

        <form name="reset_password_form">

            <label for="new_password">New Password</label>
            <input type="password" name="new_password" class="field" required>

            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" class="field" required>

            <p class="error error--hidden"></p>
            <input type="submit" value="Reset Password" class="btn">

            <div class="link-options">
                <a href="/" class="link">Back to Login</a>
            </div>

        </form>

    </div>

</div>
{% endblock %}
