{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h2 class="center">Create an Account</h2>

      <form name="signup_form">

        <label for="name">Name</label>
        <input type="text" name="name" class="field" required>

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">
        
        <div class="link-options">
          <a href="/gologin/" class="link">Back to Log In</a>
        </div>
      
      </form>
      
    </div>

    
  </div>
{% endblock %}